@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

body{
  background-color:#fff;
  color:#1C2833 ;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  margin: 0;
}

.container{
  width: 80%;
  max-width: 1100px;
  margin: auto;
}

a{
  text-decoration: none;
  color: #1C2833 
}

/* Navigation */

nav{
  display: flex;
  align-items: center;
  justify-content:space-between;
}

.left-nav{
  display: flex;
  align-items: center;
  justify-content:space-between ;
}

.left-nav .fal{
  margin-left: -6px;
  margin-right: 10px;
}

.left-nav h5{
  font-weight: 500;
  font-size:small;
}

.main-nav ul{
  display: flex;
  list-style: none;
  text-align: center;
  padding: 0;
}

.main-nav a{
  font-size: small;
  padding-right: 40px;
}

.main-nav li{
  display: flex;
}

.main-nav a:hover{
  font-weight: bolder;
}

.current{
  font-weight: bolder;
}

.right-nav{
  border: 1px solid darkgray;
  padding: 8px 10px;
  font-size: x-small;
  cursor: pointer;
  color: darkgray;
}

/* main */

.main-content{
  display: flex;
  margin-top:10px;
}

h1{
  font-weight: 500;
  font-size:90px;
  width: 90%;
  margin-bottom: 70px;
}

.main-below-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: smaller;
  margin-bottom: 100px;
}

.left-main .dark{
  border-radius:40px;
  padding: 20px 34px;
  background-color:#1C2833 ;
  color:#EAECEE;
  font-weight: 500;
  margin-right: 5px;
}

.left-main .dark:hover,
.left-main .light:hover,
.right-section a:hover
{
  opacity: 90%;
}

.left-main .light{
  border-radius:40px;
  padding: 20px 34px;
  background-color:#EAECEE;
  color: #1C2833 ;
  font-weight: 500;
}
.side-main ul{
  display: flex;
  list-style: none;
}

.side-main a{
  text-transform: uppercase;
  margin-left: 35px;
  letter-spacing: 0.1em;
}

.main-image{
  width: 68px;
  object-fit: cover;
  display:inline-block;
  padding-left: 25px;
}

/* Section */
section{
  background-color: #1C2833;
  color: #fff;
}

.section-division{
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.left-section{
  margin-top: 120px;
}

.left-section{
  width: 40%;
}

.right-section{
  width: 52%;
  margin-top: 48px;
}

.left-section .stairs-img{
  width: 100%;
  object-fit: cover;
  object-position: center right;
}

.right-section h2{
  font-size:70px;
  font-weight: 400;
}

.right-section p{
  line-height: 1.9em;
  color: #ABB2B9;
  margin-bottom: 70px;
  margin-top: -10px;
}

.right-section a{
  border-radius:40px;
  padding: 20px 34px;
  background-color: #fff;
  color: #1C2833;
  font-weight:700;
  margin-right: 5px;
}

.author{
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.author-img{
  width:50px;
  border-radius:50%;
  margin-right: 18px;
}

.author-text{
  display: flex;
  flex-direction: column;
}

.author-name{
  font-size:medium;
  font-weight: 500;
  margin-bottom: 5px;
  letter-spacing: 0.03em;
}

.author-info{
  font-size:small;
  color: #EAECEE;
}

/* footer */
footer{
  background-color: #fff;
  height: 120px;
  margin-top: -120px;
}

/* Media Query */

@media(max-width:500px){
  .container{
    width: 93%;
  }

  .main-nav.show{
    transform: translateX(-20px);
  }

  .main-nav{
    transform: translateX(-500px);
    position: absolute;
    transition: transform 0.5s ease-in-out;
    top: 0;
    left: 0;
    width: 30%;
    height: 50%;
    border-right: #1C2833 1px solid;
    opacity: 0.92;
    padding: 50px;
    background: #fff;
  }

  .main-nav ul{
    display: block;
    flex: 1;
  }

  .main-nav a{
    padding-bottom: 35px;
  }

  .right-nav{
    border: 1px solid #1C2833;
    color: #1C2833;
  }

  h1{
    font-size:60px;
    width: 100%;
  }

  .main-image{
    width: 45px;
    margin-left:-10px;
  }

  .main-below-content{
    flex-direction: column;
    margin-bottom: 65px;
  }

  .left-main{
    display: flex;
    width: 100%;
    justify-content:space-between;
    text-align: center;
    align-items: center;
  }

  .left-main .dark{
    width: 30%;
    padding: 30px 40px;
    font-size: medium;
    font-weight: 500;
  }
  
  .left-main .light{
    width: 30%;
    padding: 30px 40px;
    font-size: medium;
    font-weight: 500;
  }

  .side-main{
    margin-top: 70px;
  }

  .side-main ul{
    padding-left: 0;
  }

  .side-main a{
    margin-left: 0;
  }

  .side-main .link1{
    padding-right: 35px;
  }

  .side-main .link2{
    padding-left: 35px;
  }

  .section-division{
    flex-direction: column;
  }

  .right-section{
    order: 0;
    width: 100%;
  }

  .left-section{
    order: 1;
    width: 100%;
    margin-top: 70px;
  }

  .author-img{
    width:15%;
  }
  
  .author-name{
    font-size:x-large;
  }
  
  .author-info{
    font-size:large;
  }
  
  .right-section h2{
    font-size:60px;
    font-weight: 300;
  }
  
  .right-section a{
    text-align: center;
    margin-right:0;
    padding: 20px 40%;
  }

  .right-section p{
    margin-bottom: 80px;
  }
  
  .left-section .stairs-img{
    text-align: center;
    width: 100%;
  }

  footer{
    background-color: #fff;
    height: 300px;
    margin-top: -300px;
  }
}